<div class="container">

    <div ng-include="'components/navbar/navbar.html'"></div>
    builder
    <button class="btn btn-lg btn-primary" ng-click="calculate()">Calculate</button>
    <button class="btn btn-lg btn-primary" ng-click="addBlankChampion()">Add New Champion</button>

    <div ng-repeat="champion in champions">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Champion Name</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12" ng-click="isChampionCollapsed = !isChampionCollapsed">
                        <champion-icon champion="champion.champion"></champion-icon>{{champion.champion.name}}
                    </div>
                </div>

                <button class="btn btn-default" ng-click="isChampionCollapsed = !isChampionCollapsed">Select Champion</button>
                <hr>
                <div collapse="!isChampionCollapsed">
                    <div style="width: 100%">
                        <champ-selector champion="champion"></champ-selector>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div ng-repeat="item in champion.items track by $index">
                            <item image-url="assets/images/items/{{item.id}}.png" name="{{item.name}}" plaintext="{{item.plaintext}}" ng-click="removeItem(champion, $index)" description="false"></item>
                        </div>
                        <div ng-repeat="item in getEmptySlots(champion.items) track by $index">
                            <item image-url="assets/images/items/blank.png" name="EMPTY_ITEM_SLOT" plaintext="" description="false"></item>
                        </div>
                    </div>
                </div>

                <button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Select Champion</button>
                <hr>
                <div collapse="!isCollapsed">
                    <div style="width: 100%">
                        <shop ng-Dialog-Data="champion.items"></shop>
                    </div>
                </div>

                Hp:
                <br> Attack Damage:
                <br> Ability Power:
                <br> Movement Speed:
                <br>
            </div>
            <button class="btn btn-primary" ng-click="deleteChampion($index)">Delete</button>
        </div>
    </div>

    <ui-select ng-model="country.selected" theme="selectize" ng-disabled="disabled" style="width: 300px;">
        <ui-select-match placeholder="Select created champion">{{$select.selected.name}}</ui-select-match>
        <ui-select-choices repeat="country in champions | filter: $select.search">
            <span ng-bind-html="country.name | highlight: $select.search"></span>
        </ui-select-choices>
    </ui-select>
    <hr>

    <div ng-include="'components/footer/footer.html'"></div>
</div>