.categories {
    float: left;
    position: relative;
    font-size: 1em;
    line-height: 0.7em;
}

.item-display {
    float: left;
    position: relative;
    overflow: scroll;
    height: 60vh;
    width: calc(100% - 170px);
}