<div ng-controller="itemShopController">
    <form role="form">
        <div class="form-group has-feedback">
            <input type="text" class="form-control" placeholder="Search..." ng-model="searchQuery" ng-change="search()" />
            <i class="form-control-feedback glyphicon glyphicon-search"></i>
        </div>
    </form>
    {{ emptyItemSlots }}
    <div class="row">
        <div ng-repeat="item in ngDialogData track by $index">
            <item image-url="assets/images/items/{{item.id}}.png" name="{{item.name}}" plaintext="{{item.plaintext}}" ng-click="removeItem($index)" description="false"></item>
        </div>
        <div ng-repeat="item in emptyItemSlots">
            <item image-url="assets/images/items/{{item.id}}.png" name="{{item.name}}" plaintext="{{item.plaintext}}" ng-click="removeItem($index)" description="false"></item>
        </div>
    </div>
    <div class="categories">
        <div ng-repeat="branch in itemTree">
            <h4 translate>{{ branch.header }}</h4>
            <div ng-repeat="tag in branch.tags">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="" ng-model="tagCheck" ng-change="changeFilter(tag, tagCheck)"><span translate>{{ tag }}</span>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="item-display">
        <div>
            <div ng-show="(searchQuery === '' || searchQuery === undefined) && searchTagFilter.length === 0" ng-repeat="item in allItems">

                <item image-url="assets/images/items/{{item.id}}.png" name="{{item.name}}" plaintext="{{item.plaintext}}" ng-click="addItem($index)"></item>

                <!--<masonry item-selector=".item-block" ng-repeat="item in allItems">
                    <item image-url="assets/images/items/{{item.id}}.png" name="{{item.name}}" plaintext="{{item.plaintext}}" ng-click="addItem($index)"></item>
                </masonry>-->
                <!--<div masonry>
                    <div class="masonry-brick" ng-repeat="item in allItems">
                        <item image-url="assets/images/items/{{item.id}}.png" name="{{item.name}}" plaintext="{{item.plaintext}}" ng-click="addItem($index)"></item>
                    </div>
                </div>
                <!--<div class="js-masonry" data-masonry-options='{ "itemSelector": ".item", "columnWidth": 200 }' ng-repeat="item in allItems">
                    <item image-url="assets/images/items/{{item.id}}.png" name="{{item.name}}" plaintext="{{item.plaintext}}" ng-click="addItem($index)"></item>
                </div>-->
                <!--<div ng-init="initialised=true;" ng-if="initialised" deckgrid class="deckgrid" source="allItems">
                    <item image-url="assets/images/items/{{item.id}}.png" name="{{item.name}}" plaintext="{{item.plaintext}}" ng-click="addItem($index)"></item>
                </div>-->
            </div>
        </div>

        <!--<div>
            <div ng-hide="(searchQuery === '' || searchQuery === undefined)" ng-repeat="item in searchResults">
                <masonry item-selector=".item-block">
                    <item image-url="assets/images/items/{{item.id}}.png" name="{{item.name}}" plaintext="{{item.plaintext}}" ng-click="addItem($index)"></item>
                </masonry>
            </div>
        </div>-->

        <!--<div>
            <div ng-show="(searchQuery === '' || searchQuery === undefined) && searchTagFilter.length > 0" ng-repeat="item in filterResults">
                <masonry item-selector=".item-block">
                    <item image-url="assets/images/items/{{item.id}}.png" name="{{item.name}}" plaintext="{{item.plaintext}}" ng-click="addItem($index)"></item>
                </masonry>
            </div>
        </div>-->
    </div>
</div>